[user]
	email = 56566212+yixin0829@users.noreply.github.com
	name = yixin0829
	editor = vim
[alias]
	aa = add --all
 	st = status
 	br = branch
 	co = checkout
 	save = commit -a -m "Save" 
 	l = log
 	com = commit -m
 	p = push

 	# list aliases
 	aliases = config --get-regexp alias
[color]
 	ui = auto
[init]
	defaultBranch = main
[core]
	# true: let git automatically convert LF(Unix) to CRLF(Windows) when
	# 	collaborating cross systems(e.g. Linux/macOS)
	autocrlf = true
	fscache = true
	symlinks = true
[credential]
	helper = manager
